<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>department</key>
		<string>智能裝置事業處</string>
		<key>rangekeyword</key>
		<string>0000</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>M5</string>
	</dict>
	<dict>
		<key>department</key>
		<string>崑山管理室</string>
		<key>rangekeyword</key>
		<string>510K00</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>M5</string>
	</dict>
	<dict>
		<key>department</key>
		<string>流程暨專案經理處</string>
		<key>rangekeyword</key>
		<string>51C</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>OPM</string>
	</dict>
	<dict>
		<key>department</key>
		<string>經營分析室</string>
		<key>rangekeyword</key>
		<string>500B00</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>BA</string>
	</dict>
	<dict>
		<key>department</key>
		<string>業務管理處</string>
		<key>rangekeyword</key>
		<string>50A</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>department</key>
		<string>產品經理處</string>
		<key>rangekeyword</key>
		<string>51P</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>EPM</string>
	</dict>
	<dict>
		<key>department</key>
		<string>產品設計處</string>
		<key>rangekeyword</key>
		<string>51D</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>PD</string>
	</dict>
	<dict>
		<key>department</key>
		<string>硬體開發設計處</string>
		<key>rangekeyword</key>
		<string>51E</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>EE</string>
	</dict>
	<dict>
		<key>department</key>
		<string>無線技術研發處</string>
		<key>rangekeyword</key>
		<string>51R</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>RF</string>
	</dict>
	<dict>
		<key>department</key>
		<string>軟體研發處</string>
		<key>rangekeyword</key>
		<string>51S</string>
		<key>withoutkeyword</key>
		<string>51SW</string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>SW</string>
	</dict>
	<dict>
		<key>department</key>
		<string>智能裝置軟件測試部</string>
		<key>rangekeyword</key>
		<string>51SW</string>
		<key>withoutkeyword</key>
		<string></string>
		<key>withoutanother</key>
		<string></string>
		<key>picture</key>
		<string>WGT</string>
	</dict>
</array>
</plist>
